/* *{ This inside rules apply with all elements on html */
html {
	font-size: 16px;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Lora', serif;
}

body {
	background-color: rgb(244, 243, 243);
	color: black;
	box-sizing: border-box;
	margin: 1px;
}

html,
body {
	overflow-x: hidden;
	/* evita scroll horizontal */
	width: 100%;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}


img[alt] {
	font-family: Andika, sans-serif;
	font-style: italic;
}

a:visited {
	/* after we visit the page */
	color: rgb(72, 3, 3);
}

a:hover {
	/* when is a option */
	color: rgb(255, 255, 255);
}

input[type='text'],
input[type='tel'] {
	padding: 10px;
	width: 100%;
	transition: font-size 0.2s ease;
	z-index: 1;
}

/*head-lista de navegacion*/
/*.logo {
	width: 18%;
	border-radius: 50%;
	order: 1;
}

.nav-left {
	order: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.nav-right {
	order: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.container-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(219, 81, 35);
	padding: 6px;
	text-align: center;
	position: fixed;
	border-bottom: 1px solid white;
	top: 0;
	width: 100%;
	z-index: 99999;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li a {
	display: block;
	/* Hace que el enlace ocupe todo el li 
	padding: 5px 20px 5px 20px;
	width: 100%;
	color: white;
	text-decoration: none;
	font-size: 3rem;
	box-sizing: border-box;
	/* Asegura que el padding y borde no afecten el tamaño 
}

nav ul li {
	border-bottom: 2px solid white;
}

nav:first-of-type ul li:first-child {
	padding-top: 10px;
}*/

.nav:last-of-type ul li:last-child {
	border-bottom: none;
}

.nav ul li a:hover {
	background-color: rgb(76, 37, 18);
	transform: scale(1.1);
}

/* --- Estilos base: móvil --- */
/* 1. Barra de navegacion*/
.brand-name {
	margin: 0;
	font-size: 1.2rem;
	color: white;
	text-align: center;
	flex: 1;
	/* ocupa espacio flexible */
}

header {
	position: fixed;
	/* fija la barra al top */
	top: 0;
	/* arriba de la pantalla */
	left: 0;
	width: 100%;
	z-index: 2000;
	/* encima de todo el contenido */
	background: rgb(219, 81, 35);
}

.container-nav {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	background: rgb(219, 81, 35);
	color: white;
}

.logo {
	height: 50px;
	z-index: 1100;
}

.nav-mobile {
	position: fixed;
	top: 0;
	right: 0;
	width: 50vw;
	max-width: 300px;
	height: 100vh;
	background: #444;
	padding: 60px 20px;
	border-radius: 0 0 5px 5px;
	z-index: 1000;
	transform: translateX(100%);
	transition: transform 0.3s ease;
}

.nav-mobile.show {
	transform: translateX(0);
}

.nav-mobile ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-mobile li {
	margin: 10px 0;
}

.nav-mobile a {
	color: white;
	text-decoration: none;
}

.nav-left,
.nav-right {
	/* Menús de desktop ocultos en móvil */
	display: none;
}

/* 1.a. Botones navegacion*/
.hamburger {
	display: block;
	position: relative;
	right: 20px;
	font-size: 24px;
	background: none;
	border: none;
	color: white;
	cursor: pointer;
}

.close-btn {
	position: absolute;
	top: 10px;
	right: 30px;
	font-size: 20px;
	background: none;
	border: none;
	color: white;
	cursor: pointer;
	z-index: 1100;
}

/* 2. INTRO*/
.intro {
	margin: 40px 40px;
}

.intro h3 {
	text-align: start;
	padding-top: 30px;
	font-size: large;
}

.intro p {
	font-size: 10px;
	padding: 10px;
}

.imagen-presentacion {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
}

/* 4. main-lo mas pedido*/
#lomaspedido {
	background-image: linear-gradient(0deg,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)),
		url('https://media.istockphoto.com/id/1191905492/es/foto/chef-preparando-la-comida-de-llama-usando-sart%C3%A9n-en-una-cocina-comercial.jpg?s=612x612&w=0&k=20&c=qu9AvPXzRSrjznUe0lWuEDks3yDdX1ZLz9lwYyPr-64=');
	background-repeat: no-repeat;
	background-size: cover;
	color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: auto;
}

#lomaspedido h2 {
	text-align: start;
	font-size: 7vw;
}

#lomaspedido p {
	text-align: start;
	font-size: small;
}

.pescado img,
.cecina img,
.encebollado img {
	width: 45%;
	transition: transform 0.3s ease;
	margin: 5px 0 5px 5px;
}

.pescado,
.cecina,
.encebollado {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	gap: 3rem;
}

#lomaspedido h2 {
	font-size: large;
	text-shadow: 5px 5px black;
	padding: 15px;
}

#lomaspedido p {
	padding: 15px;
	font-size: large;
}

.images-lomaspedido figcaption {
	font-size: 0.9rem;
	margin: 1px;
}

.icono-delicious {
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	margin-right: 2px;
}

/* 5. menu diario*/
.styleMenuDiario {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 40px;
}

.styleMenuDiario h3 {
	border-bottom: 1px solid black;
	padding: 0px;
	font-size: medium;
}

.styleMenuDiario h4 {
	font-size: 1rem;
	padding: auto;
	margin-bottom: 2px;
}

#menu-diario h2 {
	font-size: x-large;
	text-align: center;
	background-color: rgb(219, 81, 35);
	color: azure;
	padding: 10px;
	margin: 10px 0px 10px 0px;
	text-shadow: 1px 1px 1px solid black;
}

.styleMenuDiario p {
	font-size: 1rem;
	padding: 10px;
	margin: 0px;
}

.sloganMenu p {
	font-family: 'Playfair Display', serif;
	font-size: 1.5rem;
	font-style: italic;
	text-align: center;
	padding-top: 5px;
}

/* 6. Carta menu kzona*/
/* 6.a. estilos de la tabla*/
.tabla-menu {
	border-collapse: collapse;
	width: 100%;
	padding: auto;
	display: block;
	align-items: wrap;
	justify-content: center;
	gap: 10px;
}

.tabla-menu caption {
	text-align: center;
	font-size: x-large;
	font-family: 'Amatic SC', sans-serif;
	font-weight: bold;
}

.tabla-borde-externo {
	width: 100%;
	table-layout: auto;
	border-collapse: collapse;
	border: 3px solid rgba(0, 0, 0, 0.423);
	table-layout: fixed;
	/* evita que las columnas cambien de tamaño */
}

.tabla-menu th,
.tabla-menu td {
	border: 1px solid #ccccccb6;
	padding: 4px;
	text-align: left;
	font-size: medium;
	word-wrap: break-word;
}

.columnas-carta th {
	text-align: center;
}

.tabla-menu .variedad {
	text-align: center;
	background-color: #93300e30;
}

#menu-diario p:nth-child(1) {
	font-size: medium;
}

.action-style {
	background-color: rgb(219, 81, 35);
	min-width: none;
	width: 80px;
	text-align: center;
}

.price-style {
	min-width: none;
	width: 5.6rem;
	text-align: center;
}

.style-carta {
	display: flex;
	flex: 1 1 100%;
	align-items: flex-start;
}

/* 6.b. Clase para categoría expandida/acordeon */
.acordeon {
	cursor: pointer;
	position: relative;
	padding-right: 20px;
	/* espacio para la flecha */
}

.acordeon::after {
	content: "▼";
	position: absolute;
	right: 5px;
	transition: transform 0.3s;
}

.acordeon.expanded::after {
	transform: rotate(-180deg);
	/* gira la flecha hacia arriba */
}

/* 6.c. Carrito de compras*/
.td-price {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.btn-add-item {
		width: 1.55rem;
		border: none;
		padding: 0;
	}

		.btn-add:hover {
			img {
				filter: saturate(0.5);
			}
	}

}

.shopping-modal {
	position: fixed;
	bottom: -100%;
	left: 0;
	width: 100%;
	max-width: 400px;
	right: auto;
	margin: 0 10px;
	background: #f9f9f9;
	border-top: 2px solid #ccc;
	padding: 5px;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
	overflow-y: auto;
	z-index: 1000;
}
#shopping-modal.active {
  bottom: 0;
}

.order-name,
#shopping-modal input#customer-name {
  display: inline-block; /* que estén en línea */
  vertical-align: middle; /* alineación vertical */
}

#shopping-modal p{
	font-size: 0.9rem
}
#shopping-modal input#customer-name {
  margin-left: 10px; /* separa un poco del texto */
  padding: 5px 8px;
  width: 150px; /* ancho adecuado para que no ocupe mucho */
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.name-row {
  display: flex;
  align-items: center; /* alinea verticalmente */
  gap: 1rem; /* espacio entre texto e input */
  margin: 10px 0;
}

.add-to-cart {
	font-size: 10px;
	background-color: rgb(244, 243, 243);
	;
	box-shadow: 2px 3px rgba(10, 6, 7, 0.5);
	border: none;
	width: 100%;
	padding: 2px;
}

.add-to-cart:hover {
	background-color: rgb(219, 81, 35);
}

.shopping-modal ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.shopping-modal li {
	margin-bottom: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.shopping-modal button {
	background: rgb(219, 81, 35);
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	padding: 2px 8px;
}

.shopping-modal button.remove-item {
	background: rgb(219, 81, 35)red;
	color: white;
	border: none;
	padding: 2px 6px;
	cursor: pointer;
	border-radius: 3px;
}

/* 6.d Items*/
#cart-items li {
  display: flex;
  align-items: center;        /* centra verticalmente los elementos */
  justify-content: space-between; /* espacio entre los extremos */
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  gap: 10px;      
}

#cart-items li .product {
	font-weight: normal;
}

#cart-items .product {
  flex: 2;                   
  font-weight: bold;
}

#cart-items .price {
  flex: 1;
  text-align: right;
}

#cart-items .quantity,
#cart-items .btn-add,
#cart-items .btn-less {
  flex: 0;                    
}

.close-cart-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.close-cart-btn:hover {
  color: #e53935;
}


/* 6.e. Botón "Hacer pedido" */
/* Botón "Hacer pedido" */
.start-order-btn {
	display: block;
	/* se comporta como bloque */
	margin: 0 auto 15px;
	/* centrado y con espacio abajo */
	padding: 10px 16px;
	background-color: #2196F3;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	max-width: 200px;
	/* evita que se estire demasiado */
	text-align: center;
}

.start-order-btn:hover {
	background-color: #1976D2;
}

#customer-name {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.comprar h3 {
	font-size: medium;
	margin-top: 0;
}

.send-order-btn {
	margin-top: 10px;
	width: 100%;
	padding: 8px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.send-order-btn:hover {
	background-color: #45a049;
}

/* .columnas-carta .action-style,
.tabla-borde-externo .action-style {
	display: none; /* Oculta la columna de acción al inicio 
} */

/*formulario*/
form fieldset textarea {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	font-size: small;
}
.section-form {
	margin: auto;
	padding: 1rem;
	padding-bottom: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: start;
	flex-direction: column;
	width: 100%;
	color: white;
	background-image: linear-gradient(0deg,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)),
		url('background.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.section-form p:nth-child(2) {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.personal-info-container fieldset {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5rem;
	width: 100%;
	box-sizing: border-box;
	padding: 0 10px;
}

.form-item {
	display: flex;
	flex-direction: column;
	margin: 5px 0;
}

.form-item label {
  margin-bottom: 5px;
  font-size: 14px;
}

.form-item input {
  width: 100%; 
  padding: 10px; 
  box-sizing: border-box;
}

.section-form p {
	font-size: 18px;
}

#registro button {
	display: flex;
	justify-content: space-between;
}

.personal-info-container legend {
	font-size: 20px;
	text-align: center;
}

.section-form h3 {
	font-size: large;
	margin-bottom: 10px;
	text-align: center;
}

.section-form label {
	font-size: small;
}

.section-form p:nth-child(2) {
	font-size: small;
	margin-bottom: 12px;
	text-align: center;
	font-style: italic;
}

.section-form p:nth-child(3) {
	font-size: 17px;
	margin-bottom: 10px;
}

.section-form textarea {
	font-size: small;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

form fieldset textarea {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	font-size: small;
}

/*botones formulario*/
.botones-formulario {
	display: flex;
	justify-content: space-between;
	margin: 0px 10px 0px 10px;
}

.botones-formulario button {
	font-size: small;
	font-weight: bold;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid rgba(10, 6, 7, 0.5);
	box-shadow: 2px 3px rgba(10, 6, 7, 0.5);
	color: rgb(255, 255, 255);
	background-color: rgb(219, 81, 35);
	display: inline-block;
	gap: 2rem;
}

.botones-formulario button:hover {
	background-color: rgb(84, 30, 17);
}

/*contacto*/
#contact a:link,
#contact a:visited {
	color: white;
}

#contact a:hover,
#contact a:active {
	color: rgb(72, 3, 3);
}

.contacto .location :active {
	color: rgb(72, 3, 3);
}

#contact {
	padding: 5em 0.7em 3em 0.7em;
	color: white;
}

.textContact {
	font-size: medium;
	font-style: italic;
	padding-top: 30px;
	text-shadow: 2px 2px 2px black;
	text-align: center;
}

.contacto-general {
	display: flex;
	flex-flow: column wrap;
	align-content: center;
}

.contacto-general img {
	margin: 10px;
}

.contacto-general a {
	font-size: small;
}

#contact h2 {
	font-size: large;
	text-align: center;
}

.location {
	display: flex;
	align-items: center;
}

.whatsapp {
	display: flex;
	align-items: center;
}

.email {
	display: flex;
	align-items: center;
}

/*del media 480*/
.textContact {
	text-align: center;
}

.contacto-general {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 7px;
	justify-items: center;
	text-align: end;
}

.location img {
	width: 40px;
}

#contact h2 {
	text-align: center;
}

.contacto-general a {
	font-size: medium;
}


/*footer*/
footer {
	background-color: rgb(219, 81, 35);
	color: white;
	margin: 0px;
	padding: 10px;
}

.sammi a {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
}

.sammi a:hover {
	color: rgb(90, 28, 7);
}

.sammi p {
	text-align: center;
}

@media (hover: none) and (pointer: coarse) {
	.pescado img:hover {
		transform: scale(1.1);
	}

	.cecina img:hover {
		transform: scale(1.1);
	}

	.encebollado img:hover {
		transform: scale(1.1);
	}
}


@media (min-width: 768px) and (hover: hover) {
	.pescado img:hover {
		transform: scale(1.6);
	}

	.cecina img:hover {
		transform: scale(1.6);
	}

	.encebollado img:hover {
		transform: scale(1.6);
	}
}

@media (min-width: 768px) {
	/*NABEGACION*/
	/*.container-nav {
		position: fixed;
		border-bottom: 1px solid white;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		padding: 5px;
		font-size: 0.9rem;
		z-index: 99999;
	}

	.nav-left,
	.nav-right {
		display: flex;
		/*justify-content: space-evenly;
		gap: 1em;
		margin-left: 10px;
		margin-right: 10px;
	}

	.nav-left {
		order: 1;
	}

	.nav-left ul {
		display: flex;
		justify-content: space-evenly;
		gap: 3em;
		align-items: center;
	}

	.nav-right ul {
		display: flex;
		justify-content: space-evenly;
		gap: 3em;
		align-items: center;
	}

	.container-nav img {
		position: relative;
		z-index: 9999;
	}

	nav:first-of-type ul li:first-child {
		padding-top: 0;
	}

	nav ul li {
		border-left: 1px solid white;
		border-bottom: none;
	}

	nav ul li:first-child {
		border-left: none;
	}

	nav ul li a {
		display: inline-block;
		/* para que puedas controlar padding y tamaño 
		padding: 5px;
		max-width: 200px;
		/* límite de ancho 
		text-align: center;
	}*/

	.hamburger {
		display: none;
	}

	/* Menús visibles */
	.nav-left,
	.nav-right {
		display: flex;
		gap: 20px;
		align-items: center;
		position: absolute;
		left: 20px;
		top: 50%;
		transform: translateY(-50%);
	}

	/* Ocultar menú móvil */
	.nav-mobile {
		display: none !important;
	}

	.nav-left {
		left: 20px;
	}

	.nav-right {
		right: 20px;
	}

	.logo {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.nav-mobile {
		display: none !important;
	}

	/*HORARIO*/
	.openingHours h3 {
		font-size: x-large;
	}

	.openingHours {
		margin: 20px 0px 20px 0px;
		padding: 70px 0px 70px 0px;
	}

	.tabla-sin-bordes th,
	td {
		font-size: large;

	}

	/*LO MAS PEDIDO*/
	#lomaspedido h2 {
		font-size: xx-large;
		text-shadow: 5px 5px black;
		padding: 15px;
	}

	#lomaspedido p {
		padding: 15px;
		font-size: x-large;
	}

	.images-lomaspedido figcaption {
		font-size: large;
	}

	/*MENU DIARIO*/
	.styleMenuDiario p .styleMenuDiario h4 {
		font-size: large;
	}

	/*CARTA MENU*/
	.tabla-menu th,
	.tabla-menu td {
		font-size: medium;
	}

	.col-accion {
		min-width: 40px;
		/* más compacta en tablets/móviles */
	}

	.add-to-cart {
		padding: 2px 6px;
		/* botón más chico */
		font-size: 0.75rem;
	}

	.add-to-cart,
	.remove-item {
		padding: 2px 6px;
		font-size: 12px;
		margin-left: 5px;
		cursor: pointer;
	}
	#shopping-modal {
    	bottom: auto;
    	right: -400px;
    	top: 70px; /* si tu navbar tiene altura 70px */
    	width: 350px;
    	height: calc(100% - 70px);
    	max-height: none;
    	box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);
    	transition: right 0.4s ease-in-out;
  	}

  	#shopping-modal.active {
    	right: 0;
    	bottom: auto;
  	}
}

	/*FORMULARIO*/
	.personal-info-container fieldset {
    	grid-template-columns: 1fr 1fr; /* desktop: dos columnas */
 	}
	.section-form {
		background-position: center center;
	}

	.section-form p:nth-child(2) {
		font-size: medium;
	}

	.section-form p:nth-child(3) {
		font-size: 16px;
		padding-top: 8px;
		padding-bottom: 10px;
	}

	.section-form h3 {
		font-size: x-large;
	}

	.section-form legend {
		font-size: 20px;
	}

	.section-form label,
	.form-content input,
	.section-form textarea {
		font-size: 0.7rem;
	}

	/*CONTACTO*/
	.textContact {
		font-size: x-large;
	}

	.contacto-general {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
	}

	#contact h2 {
		font-size: x-large;
	}
}

@media (min-width: 1000px) {
	nav ul li a {
		display: inline-block;
		/* para que puedas controlar padding y tamaño */
		padding: 8px;
		max-width: 200px;
		/* límite de ancho */
		text-align: center;
		font-size: large;
		margin-left: 15px;
		margin-right: 15px;
	}

	.logo {
		width: 80px;
		padding: 5px;
		margin: 0px;
	}

	.intro {
		margin-top: 90px;
	}
}


/*

movil: 200-479
tablet: 480-767
laptop: 768-1024
----
optionales:
pantallas 4k: 1024 en adelante
*/