/* *{ This inside rules apply with all elements on html */
html {
	font-size: 16px;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Lora', serif;
}

body {
	background-color: rgb(244, 243, 243);
	color: black;
	box-sizing: border-box;
	margin: 1px;
}

html,
body {
	overflow-x: hidden;
	/* evita scroll horizontal */
	width: 100%;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}


img[alt] {
	font-family: Andika, sans-serif;
	font-style: italic;
}

a:visited {
	/* after we visit the page */
	color: rgb(72, 3, 3);
}

a:hover {
	/* when is a option */
	color: rgb(255, 255, 255);
}

input[type='text'],
input[type='tel'] {
	padding: 10px;
	width: 100%;
	transition: font-size 0.2s ease;
	z-index: 1;
}

.nav:last-of-type ul li:last-child {
	border-bottom: none;
}

.nav ul li a:hover {
	background-color: rgb(76, 37, 18);
	transform: scale(1.1);
}

/* --- Estilos base: móvil --- */
/* 1. Barra de navegacion*/
.brand-name {
	margin: 0;
	font-size: 1.2rem;
	color: white;
	text-align: center;
	flex: 1;
	/* ocupa espacio flexible */
}

header {
	position: fixed;
	/* fija la barra al top */
	top: 0;
	/* arriba de la pantalla */
	left: 0;
	width: 100%;
	z-index: 2000;
	/* encima de todo el contenido */
	background: rgb(219, 81, 35);
}

.container-nav {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	background: rgb(219, 81, 35);
	color: white;
}

.logo {
	height: 50px;
	z-index: 1100;
}

.nav-mobile {
	position: fixed;
	top: 0;
	right: 0;
	width: 50vw;
	max-width: 300px;
	height: 100vh;
	background: #444;
	padding: 60px 20px;
	border-radius: 0 0 5px 5px;
	z-index: 1000;
	transform: translateX(100%);
	transition: transform 0.3s ease;
}

.nav-mobile.show {
	transform: translateX(0);
}

.nav-mobile ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-mobile li {
	margin: 10px 0;
}

.nav-mobile a {
	color: white;
	text-decoration: none;
}

.nav-left,
.nav-right {
	/* Menús de desktop ocultos en móvil */
	display: none;
}

/* 1.a. Botones navegacion*/
.hamburger {
	display: block;
	position: relative;
	right: 20px;
	font-size: 24px;
	background: none;
	border: none;
	color: white;
	cursor: pointer;
}

.close-btn {
	position: absolute;
	top: 10px;
	right: 30px;
	font-size: 20px;
	background: none;
	border: none;
	color: white;
	cursor: pointer;
	z-index: 1100;
}

/* 2. INTRO*/
.intro {
	margin: 40px 40px;
}

.intro h3 {
	text-align: start;
	padding-top: 30px;
	font-size: 1.1rem;
}

.intro p {
	font-size: 0.8rem;
	padding: 10px;
}

.image-presentation {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

/* 4. main-lo mas pedido*/
#lomaspedido {
	background-image: linear-gradient(0deg,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)),
		url('https://media.istockphoto.com/id/1191905492/es/foto/chef-preparando-la-comida-de-llama-usando-sart%C3%A9n-en-una-cocina-comercial.jpg?s=612x612&w=0&k=20&c=qu9AvPXzRSrjznUe0lWuEDks3yDdX1ZLz9lwYyPr-64=');
	background-repeat: no-repeat;
	background-size: cover;
	color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: auto;
}

#lomaspedido h2 {
	text-align: start;
	font-size: 1.1rem;
	text-shadow: 5px 5px black;
	padding: 5px;
	margin: 7px;
}

#lomaspedido p {
	text-align: start;
	font-size: 1rem;
	padding: 5px;
	margin: 5px;
}

.pescado img,
.cecina img,
.encebollado img {
	width: 45%;
	transition: transform 0.3s ease;
	margin: 5px 0 5px 5px;
}

.pescado,
.cecina,
.encebollado {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	gap: 3rem;
}

.images-lomaspedido figcaption {
	font-size: 0.9rem;
	margin: 1px;
}

.icono-delicious {
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	margin-right: 2px;
}

/* 5. menu diario*/
.styleMenuDiario {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	margin: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.styleMenuDiario h3 {
	border-bottom: 1px solid black;
	padding: 0px;
	font-size: medium;
}

.styleMenuDiario h4 {
	font-size: 1rem;
	padding-top: 5px;
	margin-bottom: 2px;
}

#menu-diario h2 {
	font-size: 1.1rem;
	text-align: center;
	background-color: rgb(219, 81, 35);
	color: azure;
	padding: 10px;
	margin: 0px;
	text-shadow: 1px 1px 1px solid black;
}

#menu-diario p:nth-child(1) {
	font-size: 1rem;
	padding: 5px;
}

.styleMenuDiario p {
	font-size: 0.9rem;
	padding: 5px;
	margin: 0px;
}

/* 6. Carta menu kzona*/
/* 6.a. estilos de la tabla*/
.table-menu {
	border-collapse: collapse;
	width: 100%;
	padding: auto;
	display: block;
	align-items: wrap;
	justify-content: center;
	gap: 10px;
}

.table-outer-edge{
	width: 100%;
	table-layout: auto;
	border-collapse: separate;
	border: 3px solid rgba(0, 0, 0, 0.423);
	table-layout: fixed;
	border-top: none;
	border-spacing: 0;
	position: relative;
}

.table-outer-edgecaption {
  caption-side: top;
  text-align: center;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}


.table-outer-edgecaption h2 {     
	display: block;
  	text-align: center;
	font-size: 1.1rem;
    background-color: rgb(219, 81, 35);
    color: azure;
    padding: 10px 0;
    margin: 0;
	display: block;
	left: -3px;
	width: calc(100% + 6px);
	position: relative;
	box-sizing: border-box;
}

.table-outer-edgecaption p {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  padding: 20px;  
}


.table-outer-edgecaption h2,
.table-outer-edgecaption p {
  display: block;
  margin: 0;
}

.table-menu th,
.table-menu td {
	border: 1px solid #ccccccb6;
	padding: 4px;
	text-align: left;
	font-size: medium;
	word-wrap: break-word;
}

.columns-card th {
	text-align: center;
}

.table-menu .variedad {
	text-align: center;
	background-color: #93300e30;
}

.action-style {
	background-color: rgb(219, 81, 35);
	min-width: none;
	width: 80px;
	text-align: center;
}

.price-style {
	min-width: none;
	width: 5.6rem;
	text-align: center;
}

.style-card {
	display: flex;
	flex: 1 1 100%;
	align-items: flex-start;
}

/* 6.b. Clase para categoría expandida/acordeon */
.acordeon {
	cursor: pointer;
	position: relative;
	padding-right: 20px;
}

.acordeon::after {
	content: "▼";
	position: absolute;
	right: 5px;
	transition: transform 0.3s;
}

.acordeon.expanded::after {
	transform: rotate(-180deg);
}

/* 6.c. Carrito de compras*/
.td-price {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.btn-add-item {
		width: 1.55rem;
		border: none;
		padding: 0;
	}

		.btn-add:hover {
			img {
				filter: saturate(0.5);
			}
	}

}

.shopping-modal {
	position: fixed;
	bottom: -100%;
	width: 100%;
	max-width: 400px;
	right: auto;
	background: #f9f9f9;
	border-top: 2px solid #ccc;
	padding: 5px;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
	overflow-y: auto;
	z-index: 1000;
	display: none;
}
#shopping-modal.active {
  bottom: 0;
  display: block;
}

.order-name,
#shopping-modal input#customer-name {
  display: inline-block; /* que estén en línea */
  vertical-align: middle; /* alineación vertical */
}

#shopping-modal p{
	font-size: 0.9rem
}
#shopping-modal input#customer-name {
  margin-left: 10px; /* separa un poco del texto */
  padding: 5px 8px;
  width: 150px; /* ancho adecuado para que no ocupe mucho */
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.name-row {
  display: flex;
  align-items: center; /* alinea verticalmente */
  gap: 1rem; /* espacio entre texto e input */
  margin: 10px 0;
}

.add-to-cart {
	font-size: 10px;
	background-color: rgb(244, 243, 243);
	;
	box-shadow: 2px 3px rgba(10, 6, 7, 0.5);
	border: none;
	width: 100%;
	padding: 2px;
}

.add-to-cart:hover {
	background-color: rgb(219, 81, 35);
}

.shopping-modal ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.shopping-modal li {
	margin-bottom: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.shopping-modal button {
	background: rgb(219, 81, 35);
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	padding: 2px 8px;
}

.shopping-modal button.remove-item {
	background: rgb(219, 81, 35)red;
	color: white;
	border: none;
	padding: 2px 6px;
	cursor: pointer;
	border-radius: 3px;
}

/* 6.d Items*/
#cart-items li {
  display: flex;
  align-items: center;       
  justify-content: space-between; 
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  gap: 10px;      
}

#cart-items li .product {
	font-weight: normal;
}

#cart-items .product {
  flex: 2;                   
  font-weight: bold;
}

#cart-items .price {
  flex: 1;
  text-align: right;
}

#cart-items .quantity,
#cart-items .btn-add,
#cart-items .btn-less {
  flex: 0;                    
}

#close-cart-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.close-cart-btn:hover {
  color: #e53935;
}


/* 6.e. Botón "Hacer pedido" */
/* Botón "Hacer pedido" */
.start-order-btn {
	display: block;
	/* se comporta como bloque */
	margin: 0 auto 15px;
	/* centrado y con espacio abajo */
	padding: 10px 16px;
	background-color: #2196F3;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	max-width: 200px;
	/* evita que se estire demasiado */
	text-align: center;
}

.start-order-btn:hover {
	background-color: #1976D2;
}

#customer-name {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.comprar h3 {
	font-size: medium;
	margin-top: 0;
}

.send-order-btn {
	margin-top: 10px;
	width: 100%;
	padding: 8px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.send-order-btn:hover {
	background-color: #45a049;
}

/*formulario*/
form fieldset textarea {
	width: 100%;
	padding: 2px;
	box-sizing: border-box;
	font-size: small;
}
form fieldset {
  border: 2px solid rgba(255, 255, 255, 0.8);
  padding: 15px;
  margin: 0;
  width: 100%; 
  box-sizing: border-box;
}

form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section-form {
	margin: 2px;
	padding: 1rem;
	padding-bottom: 40px;
	display: flex;
	align-items: stretch;
	text-align: start;
	flex-direction: column;
	width: 100%;
	color: white;
	background-image: linear-gradient(0deg,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)),
		url('background.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.section-form p:nth-child(2) {
	font-size: 0.85rem;
	margin-bottom: 12px;
	text-align: center;
	font-style: italic;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input,
textarea,
select {
	box-sizing: border-box;
	margin: 5px 0;
	border: 1px solid #ccc;
	padding: 5px; 
	font-size: 0.9rem;
}

.personal-info-container fieldset {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	box-sizing: border-box;
	padding: 0 10px;
}

.form-item {
	display: flex;
	flex-direction: column;
	margin: 5px 0;
}

.form-item label {
  margin-bottom: 1px;
  font-size: 0.95rem;
  padding: 1px;
}

.form-item input {
  width: 100%; 
  box-sizing: border-box;
  font-size: 0.9rem;
  padding: 1px;
}

.section-form p {
	font-size: 18px;
}

#registro button {
	display: flex;
	justify-content: space-between;
}

.personal-info-container legend {
	font-size: 0.95rem;
	text-align: center;
}

.section-form h3 {
	font-size: 1.1rem;
	margin-bottom: 10px;
	text-align: center;
}

.section-form p:nth-child(3) {
	font-size: 17px;
	margin-bottom: 10px;
}

/*botones formulario*/
.botones-formulario {
	display: flex;
	justify-content: space-between;
	margin: 0px 10px 0px 10px;
}

.botones-formulario button {
	font-size: small;
	font-weight: bold;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid rgba(10, 6, 7, 0.5);
	box-shadow: 2px 3px rgba(10, 6, 7, 0.5);
	color: rgb(255, 255, 255);
	background-color: rgb(219, 81, 35);
	display: inline-block;
	gap: 2rem;
}

.botones-formulario button:hover {
	background-color: rgb(84, 30, 17);
}

/*contacto*/
#contact a:link,
#contact a:visited {
	color: white;
}

#contact a:hover,
#contact a:active {
	color: rgb(72, 3, 3);
}

.contacto .location :active {
	color: rgb(72, 3, 3);
}

#contact {
	padding: 5em 0.7em 3em 0.7em;
	color: white;
}

.textContact {
	font-size: medium;
	font-style: italic;
	padding-top: 30px;
	text-shadow: 2px 2px 2px black;
	text-align: start;
}

.contacto-general {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: start;
	text-align: end;
}

.contacto-general img {
	margin: 10px;
}

.contacto-general a {
	font-size: small;
}

#contact h2 {
	font-size: large;
	text-align: center;
}

.location {
	display: flex;
	align-items: center;
}

.whatsapp {
	display: flex;
	align-items: center;
}

.email {
	display: flex;
	align-items: center;
}

/*del media 480*/
.textContact {
	text-align: center;
}

.location img {
	width: 40px;
}

#contact h2 {
	text-align: center;
}

.contacto-general a {
	font-size: medium;
}


/*footer*/
footer {
	background-color: rgb(219, 81, 35);
	color: white;
	margin: 0px;
	padding: 10px;
}

.sammi a {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
}

.sammi a:hover {
	color: rgb(90, 28, 7);
}

.sammi p {
	text-align: center;
}

@media (hover: none) and (pointer: coarse) {
	.pescado img:hover {
		transform: scale(1.1);
	}

	.cecina img:hover {
		transform: scale(1.1);
	}

	.encebollado img:hover {
		transform: scale(1.1);
	}
}


@media (min-width: 768px) and (hover: hover) {
	.pescado img:hover {
		transform: scale(1.6);
	}

	.cecina img:hover {
		transform: scale(1.6);
	}

	.encebollado img:hover {
		transform: scale(1.6);
	}
}

@media (min-width: 768px) {
	.container-nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid white;
		background-color: rgb(219, 81, 35);
		z-index: 9999;
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		grid-template-areas: "navleft logo navright";
		align-items: center;

	}

	.nav-mobile,
	.hamburger {
		display: none;
	}

	.nav-left li,
  	.nav-right li {
    	margin: 0;
    	padding: 0;
  	}
 
	.nav-left ul,
	.nav-right ul {
		display: flex;
		gap: 2em;
		align-items: center;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.nav-left a,
	.nav-right a {
		display: inline-block;
		padding: 5px 10px;
		text-decoration: none;
		color: white;
		font-size: 0.85rem;
		border-left: 1px solid white;
		transition: color 0.3s ease;
	}

	.nav-left a:hover,
	.nav-right a:hover {
		color: #f5c518; 
	}

	.logo {
		margin: 0 auto;
		left: 50%;
		height: 60px;
		justify-self: center;
	}

	.brand-name {
		display: none; 
	}

	.nav-left {
		grid-area: navleft;
		justify-self: start;
		display: block;
    	z-index: 10000;
		max-height: 3.5rem;
    	z-index: 9999;
	}

	.logo {
		grid-area: logo;
		justify-self: center;
		height: 60px;
	}

	.nav-right {
		grid-area: navright;
		justify-self: end;
		display: block;
    	z-index: 10000;
	}

	.nav-left ul li,
	.nav-right ul li,
	.nav-left a,
	.nav-right a {
		border: none;
	}

	.nav-left ul li + li,
	.nav-right ul li + li {
		border-left: 1px solid white;
	}

	.nav-left ul li:first-child,
	.nav-right ul li:first-child {
		border-left: none;
	}


	.intro {
		margin-top: 60px;
		margin-left: 80px;
		margin-right: 80px;
	}

	/*LO MAS PEDIDO*/
	#lomaspedido h2 {
		font-size: xx-large;
		text-shadow: 5px 5px black;
		padding: 15px;
	}

	#lomaspedido p {
		padding: 15px;
		font-size: x-large;
	}

	.images-lomaspedido figcaption {
		font-size: large;
	}

	/*MENU DIARIO*/
	.styleMenuDiario p .styleMenuDiario h4 {
		font-size: large;
	}

	/*CARTA MENU*/
	.table-menu th,
	.table-menu td {
		font-size: medium;
	}

	.col-accion {
		min-width: 40px;
	}

	.add-to-cart {
		padding: 2px 6px;
		font-size: 0.75rem;
	}

	.add-to-cart,
	.remove-item {
		padding: 2px 6px;
		font-size: 12px;
		margin-left: 5px;
		cursor: pointer;
	}

	.main-content {
        transition: transform 0.3s ease;
    }

    body.carrito-abierto .main-content {
        transform: translateX(-300px); /* mueve el contenido a la izquierda */
    }

	#shopping-modal {
    	position: fixed;
    	top: 80px;            /* para no tapar tu navegación */
    	right: -300px;        /* oculto cuando está cerrado */
    	width: 300px;
    	height: calc(100vh - 80px);
    	background: #fff;
    	box-shadow: -4px 0 15px rgba(0,0,0,0.2);
    	transition: right 0.3s ease;
    	overflow-y: auto;
    	z-index: 999;
	}

  	#shopping-modal.active {
        right: 0;
		position: fixed;
  	}

  /* --- Botón "Hacer pedido" --- */
  #btnHacerPedido {
    font-size: 1.1rem;
    padding: 10px 25px;
    border-radius: 8px;

	/*FORMULARIO*/
	.section-form {
		max-width: 800px;       /* límite de ancho total */
		margin: 0 auto;         /* centra la sección */
		padding: 2rem 3rem;     /* más espacio interno */
		border-radius: 10px;    /* opcional, más elegante */
		align-items: center;
	}

	form {
		max-width: 100%;
		max-width: 300px;  /* no se estira demasiado */
		margin: 0 auto;    /* centrar */
	}

	.form-content {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}

	.personal-info-container,
	fieldset:nth-of-type(2) {
		flex: 1;
	}

	.personal-info-container fieldset {
		flex-direction: column; /
	}

	.form-item input,
	textarea {
		font-size: 1rem;
		padding: 6px;
	}

	.botones-formulario {
		display: flex;
		justify-content: center;
		gap: 20px;
		margin-top: 20px;
	}

	.botones-formulario button {
		padding: 10px 20px;
		font-size: 1rem;
		cursor: pointer;
	}

	/*CONTACTO*/
	.textContact {
		font-size: x-large;
	}

	.contacto-general {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
	}

	#contact h2 {
		font-size: x-large;
	}
}

@media (min-width: 1000px) {
	nav ul li a {
		display: inline-block;
		/* para que puedas controlar padding y tamaño */
		padding: 8px;
		max-width: 200px;
		/* límite de ancho */
		text-align: center;
		font-size: large;
		margin-left: 15px;
		margin-right: 15px;
	}

	.intro {
		margin-top: 90px;
	}
}


/*

movil: 200-479
tablet: 480-767
laptop: 768-1024
----
optionales:
pantallas 4k: 1024 en adelante
*/